* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to right, blue);
    overflow-x: hidden;
}

.new-section {
    padding-top: 50px;
    text-align: center;
    font-size: 4em;
    font-weight: 100;
}

header {
    position: relative;
    text-align: center;
    height: 100vh;
    background: linear-gradient(to right, #69bcf4, #30cc8b);
    color: #fff;
}

header h1 {
    padding-top: 100px;
    padding-top: -webkit-calc(50vh - 113px);
    padding-top: expression(50vh - 113px);
    padding-top: -moz-calc(50vh - 113px);
    padding-top: -o-calc(50vh - 113px);
    padding-top: calc(50vh - 113px);
    font-size: 7em;
    font-weight: 100;
}

header h2 {
    font-size: 2em;
}

header span.animated {
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
    bottom: 50px;
    height: 4px;
    width: 4px;
    border-radius: 2px;
    background: #fff;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}

header span::before,
header span::after {
    position: absolute;
    top: -23px;
    content: "";
    height: 30px;
    width: 4px;
    border-radius: 2px;
    background: #fff;
}

header span::before {
    left: -10px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

header span::after {
    right: -10px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.searchBox {
    position: absolute;
    /* top: 5%; */
    left: 50%;
    transform: translate(-50%, 50%);
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}

.searchBox:hover>.searchInput {
    width: 240px;
    padding: 0 6px;
}

.searchBox:hover>.searchButton {
    background: white;
    color: #2f3640;
}

.searchButton {
    color: white;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.searchInput {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}

.searchButton:hover>.fab {
    padding: 1px;
}

.form-error {
    border-color: #F46036 !important;
}


/* @media screen and (max-width: 620px) {
    .searchBox:hover>.searchInput {
        width: 150px;
        padding: 0 6px;
    }
}

@media (max-width: 759px) {
    header h1 {
        font-size: 5em;
    }
    .new-section {
        font-size: 3em;
    }
    .scroll-animations {
        display: block;
    }
    .scroll-animations div {
        padding: 20px 80px;
    }
}

@media (max-width: 475px) {
    .new-section {
        font-size: 2.5em;
    }
    header h1 {
        font-size: 3.2em;
    }
    header h2,
    .funky-animations h3 {
        font-size: 1.5em;
    }
} */