* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to right, blue);
    overflow-x: hidden;
}

.new-section {
    padding-top: 50px;
    text-align: center;
    font-size: 4em;
    font-weight: 100;
}

header {
    position: relative;
    text-align: center;
    height: 100vh;
    background: linear-gradient(to right, #69bcf4, #30cc8b);
    color: #fff;
}

header h1 {
    padding-top: 100px;
    padding-top: -webkit-calc(50vh - 113px);
    padding-top: expression(50vh - 113px);
    padding-top: -moz-calc(50vh - 113px);
    padding-top: -o-calc(50vh - 113px);
    padding-top: calc(50vh - 113px);
    font-size: 7em;
    font-weight: 100;
}

header h2 {
    font-size: 2em;
}

header span.animated {
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
    bottom: 50px;
    height: 4px;
    width: 4px;
    border-radius: 2px;
    background: #fff;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}

header span::before,
header span::after {
    position: absolute;
    top: -23px;
    content: "";
    height: 30px;
    width: 4px;
    border-radius: 2px;
    background: #fff;
}

header span::before {
    left: -10px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

header span::after {
    right: -10px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.scroll-animations {
    display: flex;
    flex-direction: column;
}

.searchBox {
    position: relative;
    /* top: 5%; */
    left: 50%;
    transform: translate(-50%, 50%);
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
    width: fit-content;
    /* needed for mozilla*/
    width: -moz-fit-content;
}

/*.line-break {
    display: block;
    width: 100%;
    height: 0px;
}*/

.searchBox:hover>.searchInput {
    width: 240px;
    padding: 0 6px;
}

.searchBox:hover>.searchButton {
    background: white;
    color: #2f3640;
}

.searchButton {
    color: white;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.searchInput {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}

.searchButton:hover>.fab {
    padding: 1px;
}

.form-error {
    border-color: #F46036 !important;
}

nav {
    margin: 27px auto 0;
    font-size: 12px;
    font-family: sans-serif;
    background: #2c3e50;
    position: relative;
    width: 590px;
    height: 50px;
    background-color: #34495e;
    border-radius: 8px;
    font-size: 0;
}

nav a,button {
    line-height: 50px;
    height: 100%;
    font-size: 13px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    cursor: pointer;
}

nav .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all .5s ease 0s;
    border-radius: 8px;
}

a:nth-child(1) {
    width: 100px;
}

a:nth-child(2) {
    width: 110px;
}

a:nth-child(4) {
    width: 100px;
}

a:nth-child(5) {
    width: 160px;
}

a:nth-child(6) {
    width: 120px;
}

nav .start-home,
a:nth-child(1):hover~.animation {
    width: 100px;
    left: 0;
    background-color: #1abc9c;
}

nav .start-about,
a:nth-child(2):hover~.animation {
    width: 110px;
    left: 100px;
    background-color: #e74c3c;
}

nav .start-blog,
a:nth-child(4):hover~.animation {
    width: 100px;
    left: 210px;
    background-color: #3498db;
}

nav .start-portefolio,
a:nth-child(5):hover~.animation {
    width: 160px;
    left: 310px;
    background-color: #9b59b6;
}

nav .start-contact,
a:nth-child(6):hover~.animation {
    width: 120px;
    left: 470px;
    background-color: #e67e22;
}

#output-area {
    position: absolute;
    /*bottom: 0;*/
    width: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    /* remove background-color later */
    /*background-color: blue;*/
    /*display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;*/
}

#output-area img{
    /*flex-shrink: 1;*/
    /*min-width: 100%;
    min-height: 100%;*/
    object-fit: fill;
    width: 100%;
    height: 95%;
}

.menu-item>button {
    width: 110px;
    background-color: #34495e;
    border-radius: 8px;
    left: 100px;
    transition: all .5s ease 0s;
}

a:nth-child(2):hover~.menu-item {
    display: flex;
    flex-direction: column;
}

.menu-item:hover {
    display: flex;
    flex-direction: column;
}

button:hover {
    background-color: #e67e22;
}

.menu-item {
    display: none;
    position: absolute;
}

/* @media screen and (max-width: 620px) {
    .searchBox:hover>.searchInput {
        width: 150px;
        padding: 0 6px;
    }
}

@media (max-width: 759px) {
    header h1 {
        font-size: 5em;
    }
    .new-section {
        font-size: 3em;
    }
    .scroll-animations {
        display: block;
    }
    .scroll-animations div {
        padding: 20px 80px;
    }
}

@media (max-width: 475px) {
    .new-section {
        font-size: 2.5em;
    }
    header h1 {
        font-size: 3.2em;
    }
    header h2,
    .funky-animations h3 {
        font-size: 1.5em;
    }
} */